{% extends 'admin/layout_admin.html.twig'%}

{% block content %}
{% form_theme form "bootstrap_3_layout.html.twig" %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Modifier le profil</h4>
                            </div>
                            <div class="content">
                                {{ form(form) }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    {% endblock %}
