{% extends "layout.html.twig" %}

{% block content %}
    <div class="container ">
        <div class="row">              
            <div class="col-md-offset-1  ">
                 <img class="img-fluid erreurs404" src="{{ asset('images/404.png') }}" alt="image404">
            </div>
        </div>
    </div>
{% endblock %}
