/* 
    Style for apprendre-page
*/
/* 
    Created on : déc. 2017
    Author     : Vassilina Bardol
*/

#container-learn {
    max-width: 800px;
    margin: 0 auto;
}

#colors li {
    font-size: 4rem;
}

.intro-galery {
    padding: 100px 0;
    background-image: url(../images/shop-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: -90px;
    z-index: 11;
    position: relative;
}

.intro-learn-one{
    padding: 100px 0;
    background-image: url(../images/apprendre.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: -90px;
    z-index: 11;
    position: relative;  
}

.color-white{
    color: white;
}

.shop-box-title h3 {
    margin: 0 0 5px 0;
    font-weight: 700;
    font-size: 18px;
}

.picture-desc {
    margin-bottom: 0;
    font-weight: 500;
}

bg-main-color {
    background-color: #fabe12;
}

#pager-galery li>a.pager-galery {
	color: #fff;
	border-color: #fabe12;
	background-color: #fabe12;
}
.gras{
    font-weight: 500;
}

.btn-robot2{
	padding: 5px 8px;
}
.btn-robot2:hover{
	background-color: transparent;
	color: #fabe12;
	border-color: #fabe12;
}

.nutral {
    background-color: #fff;
}

.mt4{
	margin-top: 4rem;
}
@media screen and (max-width: 360px) {
  .no-responsive{
    display: none;
  }
}