/* 
    Style for apprendre-page & galery-page
*/
/* 
    Created on : déc. 2017
    Author     : Vassilina Bardol
*/

#container-learn {
    max-width: 800px;
    margin: 0 auto;
    /*max-height: 95vh;*/ 
    /*overflow: scroll;*/
    /*border: 1px solid #fabe12;*/
}

#colors li {
    font-size: 4rem;
}

.intro-galery {
    padding: 100px 0;
    background-image: url(../images/shop-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: -90px;
    z-index: 11;
    position: relative;
}

.intro-learn-one{
    padding: 100px 0;
    background-image: url(../images/apprendre.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: -90px;
    z-index: 11;
    position: relative;  
}

.color-white{
    color: white;
}

.img-galery{
    max-width: 100%;
    max-height: 100%;     
}

.div-img{
    width: 100%;
    height: 100%; 
}

.shop-box {
    height: 200px;
    border: 0.1px solid #fabe12;
}

.shop-box-title h3 {
    margin: 0 0 5px 0;
    font-weight: 700;
    font-size: 18px;
}
.shop-box-title p {
    font-size: 11px;
}

.picture-desc {
    margin-bottom: 0;
    font-weight: 500;
}

#pager-galery li>a.pager-galery {
    color: #fff;
    border-color: #fabe12;
    background-color: #fabe12;
}

.gras{
    font-weight: 500;
}

.btn-robot2{
	padding: 5px 8px;
}
.btn-robot2:hover{
	background-color: transparent;
	color: #fabe12;
	border-color: #fabe12;
}

.btn-robot3{
	border-radius: 0;
	background-color: #fabe12;
	color: #fff;
	text-transform: uppercase;
	border-color: transparent;
	padding: 5px 15px;
	transition: all 0.4s ease-in-out;
	/*letter-spacing: 1px;*/
	font-weight: 300;
	margin-top: 2px;
}
.btn-robot3:hover{
	background-color: transparent;
	color: #fabe12;
	border-color: #fabe12;
}

.mt4{
	margin-top: 4rem;
}

#shareList {

        background-color: rgba(255,255,255, .5);
        text-align: center;
        /*display: inline-flex;*/
        position: fixed;
        bottom: 10vh;
        right: 0;
        z-index: 10;        
}


#divSteps {
    overflow: scroll;
    border: 1px solid #fabe12;
    height: 30vh;
    
}

#colors {
    border: 1px solid #fabe12;
}


@media (max-width: 499px) {
    #shareList {
        display: inline-flex;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 10;
    }
    .btn-robot3{
	
	padding: 2px 5px;
	transition: all 0.4s ease-in-out;
	/*letter-spacing: 1px;*/
	font-weight: 300;
	margin-top: 2px;
    }
}