#container {
                 max-width: 800px;
                 margin: 0 auto;
             }
             
             
             
             
             
            
             
             
             
             
             
               #cadre {
                 overflow: scroll;
                 max-height:800px;
                 padding:0;
                 margin:0;
             }


             #canvas {
                 margin:10px auto;
                 display:block;
             }

             #my button {
                 width: 20px;
                 height: 20px;
                 /*display: inline-block;*/
                 
             }

             #my {
                 width: 80px;
             }
              /*#couleurs{position:fixed;}*/
              
              .container-fluid{background:white;}
    @media (max-width: 900px) {
        
        #sideBarShareButtons {

        background-color: rgba(255,255,255, .5);
        text-align: center;
        /*display: inline;*/
        position: fixed;
        bottom: 15vh;
        left: 45vh;
        z-index: 10;   }     
}
             
             
           
              