#allpixelarts{
    position:relative;
   }
   
#brouillons{
   /* position:absolute; */
    z-index:2;
   }

   #envoyes{
    position:absolute;
    z-index:1;
    display:none;
   }

   .container-fluid {
       background:white;
   }

   .conteneur-image {
      height:400px;
   }
   
   .conteneur-thumb{
       margin-bottom:100px;
   }
   
   .shop-box-title{
        height:200px;
   }
   
   .image {max-height:400px;}
   
   