#container {
                 max-width: 800px;
                 margin: 0 auto;
             }

             #canvas {
             }

             #my button {
                 width: 20px;
                 height: 20px;
                 display: inline-block;
             }

             #my {
                 width: 80px;
             }

