{% extends "layout.html.twig" %}

{% block content %}
    <main>
        <div class="container-fluid">
            <h1 class="text-center">Apprendre PixelArt</h1>            
            <div class="row">
                <div class="col-md-2">
                    <h2>Miniature</h2>
                    <div class="thumbnail">
                        <img id="thumb-learn" src="{{ picture.thumb }}">
                        
                    </div>
                    
                    <h2>Palette</h2>
                    <ul id="colors" class="list-unstyled list-inline"></ul>
                    
                    <button id="play" class="btn btn-default">Démarrer</button>
                    <button id="stop" class="btn btn-default">Arreter</button>
                    
                </div>
                
                <div class="col-md-8">
                    <div id="container-learn" ><canvas id="canvas-learn"></canvas></div>
                </div>
                
                <div class="col-md-2">
                    <h2>Etapes</h2>
                    <ul id="steps" class="list-unstyled"></ul>
                </div>                
            </div>
        </div>
    </main>
    
{% endblock %} 
