{% extends "layout.html.twig" %}
{% block intro %}
    <div class="intro-galery row">
        <div class="overlay"></div>
        <div class="col-sm-12">
            <h1 class="mt0 color-white">Galery PixelArt</h1>
        </div>
    </div> <!-- /.intro.row -->
{% endblock %}

{% block content %}
    <main>
        <section class="shop">
            <div class="container page-bgc">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box">
                            <h2 class="title mt0">Nos PixelArt</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="boxed">

                        {% for picture in pictures %}
                        <div class="col-sm-4">
                            <div class="shop-box">
                                <img class="img-full img-responsive" src="{{ picture.thumb }}" alt="">
                                <div class="shop-box-hover text-center">
                                    <div class="c-table">
                                        <div class="c-cell">
                                            <a href="{{ path('apprendre-pixelart', { id : picture.idPictures }) }}">
                                                <span class="glyphicon glyphicon-education" aria-hidden="true"></span> Apprendre
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shop-box-title">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h3>Categorie :</h3>
                                        <h3>Créé par : {{ picture.idUsers }}</h3>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="shop-price">Facile</p>
                                        <div class="star">
                                            <span class="ion-ios-star"></span>
                                            <span class="ion-ios-star"></span>
                                            <span class="ion-ios-star"></span>
                                            <span class="ion-ios-star-half"></span>
                                            <span class="ion-ios-star-outline"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                        <div class="col-sm-12">
                            <nav>
                                <ul class="pager">
                                    <li class="previous disabled"><a href="#"><span aria-hidden="true" class="ion-chevron-left"></span></a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li class="next"><a href="#"><span aria-hidden="true" class="ion-chevron-right"></span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section> 


    </main>

{% endblock %} 